= form_for therapist_profile do |f|
  = f.label :address
  %br
  = f.text_area :address
  %br
  = f.label :hours_from
  %br
  = f.text_field :hours_from
  %br
  = f.label :hours_to
  %br
  = f.text_field :hours_to
  %br