.row
  = form_tag('/therapist_profile/corelate_excercises') do
    .col-xs-6
      - patients.each do |patient|
        = check_box_tag :patients, multiple: true
        = patient.firstname + " " + patient.lastname
    .col-xs-6
      - exercises.each do |exercise|
        = check_box_tag :exercises, multiple: true
        = exercise.name
        = exercise.description
        %br
    .col-xs-12
      = submit_tag :add



