.row
  = form_tag('/therapist_profile/corelate_excercises') do
    .col-xs-6
      - patients.each do |patient|
        = check_box_tag "patients[]", patient.id
        = patient.full_name
   .col-xs-6
      - exercises.each do |exercise|
        = check_box_tag "exercises[]", exercise.id
        = exercise.name
        = exercise.description
        %br
    .col-xs-12
      %br
      = submit_tag :add, class: 'btn btn-success', style: 'width: 100%'



